
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 300px;
    background: linear-gradient(-25deg, rgb(30, 54, 30), #444, rgb(116, 156, 129));
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow: 0 2px 0 black;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 50px -10px black;
    animation: cardAnimation 1s alternate infinite;
}

@keyframes cardAnimation {
    from {
        transform: translateY(-20px);
    }
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70%;
}

.socialimg {
    width: 120px;
    padding: 16px;
    cursor: pointer;
}

.socialimg:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 800px) {
    .card {
        width: 300px;
    }
    
    .socialimg {
        width: 70px;
    }

}
